<script>
import {getDocuments} from '$lib/documents';
const docs = getDocuments();
</script>

<nav>
	<ul>
		<li>
			<a href="/">Front Page</a>
		</li>
		<li>
			Documents
			<ul>
				{#each docs as doc}
					<li>
						<a href={doc.url}
							>{doc.title}</a
						>
					</li>
				{/each}
			</ul>
		</li>
	</ul>
</nav>

<slot />
